n8n-lead-workflow.json
{
  "name": "UNTH.AI Lead Capture & Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unthai-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "unthai-contact-form"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $now.toISO() }}-{{ $json.body.email.replace('@', '-at-') }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "interests",
              "name": "interests",
              "value": "={{ $json.body.interests.join(', ') }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message || 'No message provided' }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "new",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "process-data",
      "name": "Process Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "UNTH.AI Leads"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "timestamp": "={{ $json.timestamp }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "interests": "={{ $json.interests }}",
            "message": "={{ $json.message }}",
            "source": "={{ $json.source }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interests",
              "displayName": "interests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        690,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "UNTH.AI CRM"
        },
        "table": {
          "__rl": true,
          "value": "Leads",
          "mode": "list",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.lead_id }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Interests": "={{ $json.interests }}",
            "Message": "={{ $json.message }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Source": "={{ $json.source }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "airtable",
      "name": "Save to Airtable (Optional)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        690,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIALS_ID",
          "name": "Airtable account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "noreply@unthai.com",
        "toEmail": "team@unthai.com",
        "subject": "🎯 New Lead: {{ $('Process Lead Data').item.json.name }}",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <div style=\"background: linear-gradient(135deg, #051224 0%, #0a1f3d 100%); padding: 30px; border-radius: 10px; margin-bottom: 20px;\">\n      <h1 style=\"color: #F6D027; margin: 0; font-size: 28px;\">✨ New Lead Received!</h1>\n    </div>\n    \n    <div style=\"background: #f9f9f9; padding: 25px; border-radius: 8px; border-left: 4px solid #F6D027;\">\n      <h2 style=\"color: #051224; margin-top: 0;\">Contact Information</h2>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <tr>\n          <td style=\"padding: 10px 0; font-weight: bold; width: 120px;\">👤 Name:</td>\n          <td style=\"padding: 10px 0;\">{{ $json.name }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 10px 0; font-weight: bold;\">📧 Email:</td>\n          <td style=\"padding: 10px 0;\"><a href=\"mailto:{{ $json.email }}\" style=\"color: #0066cc;\">{{ $json.email }}</a></td>\n        </tr>\n        <tr>\n          <td style=\"padding: 10px 0; font-weight: bold;\">🎯 Interests:</td>\n          <td style=\"padding: 10px 0;\">{{ $json.interests }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 10px 0; font-weight: bold;\">📅 Date:</td>\n          <td style=\"padding: 10px 0;\">{{ $json.timestamp }}</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 10px 0; font-weight: bold;\">🌐 Source:</td>\n          <td style=\"padding: 10px 0;\">{{ $json.source }}</td>\n        </tr>\n      </table>\n    </div>\n    \n    <div style=\"background: #fff; padding: 25px; border-radius: 8px; margin-top: 20px; border: 1px solid #e0e0e0;\">\n      <h3 style=\"color: #051224; margin-top: 0;\">💬 Message</h3>\n      <p style=\"margin: 0; white-space: pre-wrap;\">{{ $json.message }}</p>\n    </div>\n    \n    <div style=\"margin-top: 30px; padding: 20px; background: #051224; border-radius: 8px; text-align: center;\">\n      <p style=\"color: #F6D027; margin: 0; font-weight: bold;\">🚀 Action Required</p>\n      <p style=\"color: #fff; margin: 10px 0 0 0; font-size: 14px;\">Please respond to this lead within 24 hours for best results.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-notification",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        910,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIALS_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🎯 New Lead Alert!\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Name:*\\n{{ $('Process Lead Data').item.json.name }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Email:*\\n{{ $('Process Lead Data').item.json.email }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Interests:*\\n{{ $('Process Lead Data').item.json.interests }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Source:*\\n{{ $('Process Lead Data').item.json.source }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Message:*\\n{{ $('Process Lead Data').item.json.message }}\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"⏰ Received at {{ $('Process Lead Data').item.json.timestamp }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Thank you! We'll be in touch soon.\", \"leadId\": \"{{ $('Process Lead Data').item.json.lead_id }}\" }",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1130,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Contact Form": {
      "main": [
        [
          {
            "node": "Process Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Lead Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Airtable (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable (Optional)": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Notification": {
      "main": [
        [
          {
            "node": "Respond to Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "id": "unthai-lead-workflow",
  "tags": []
}
