n8n-newsletter-workflow.json
{
  "name": "UNTH.AI Newsletter Signup",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-signup",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://unth.ai,http://localhost:5173,http://localhost:4173"
        }
      },
      "id": "webhook-newsletter",
      "name": "Webhook - Newsletter Signup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "unthai-newsletter-signup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-exists",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "email-valid",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "email-valid-format",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-email",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subscriber_id",
              "name": "subscriber_id",
              "value": "={{ $now.format('yyyyMMdd-HHmmss') }}-{{ $json.body.email.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email.toLowerCase().trim() }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body.source || 'website' }}",
              "type": "string"
            },
            {
              "id": "date_subscribed",
              "name": "date_subscribed",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "time_subscribed",
              "name": "time_subscribed",
              "value": "={{ $now.format('HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "Active",
              "type": "string"
            },
            {
              "id": "domain",
              "name": "domain",
              "value": "={{ $json.body.email.split('@')[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "process-subscriber",
      "name": "Process Subscriber Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 200]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18kJHAHagPklku7lINUQHYxkugF84ZRjIuX3oc4R-yjs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Subscriber ID": "={{ $json.subscriber_id }}",
            "Date": "={{ $json.date_subscribed }}",
            "Time": "={{ $json.time_subscribed }}",
            "Email": "={{ $json.email }}",
            "Domain": "={{ $json.domain }}",
            "Source": "={{ $json.source }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": ["Email"],
          "schema": []
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "google-sheets-newsletter",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [910, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Welcome! You're now subscribed to our newsletter.\", \"subscriberId\": $json.subscriber_id } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://unth.ai"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Please provide a valid email address.\" } }}",
        "responseCode": 400,
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://unth.ai"
              }
            ]
          }
        }
      },
      "id": "validation-error-response",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "jsCode": "// Check if email already exists in the sheet\nconst newEmail = $('Process Subscriber Data').item.json.email;\nconst existingEmails = $input.all().map(item => item.json.Email);\n\nif (existingEmails.includes(newEmail)) {\n  return {\n    json: {\n      isDuplicate: true,\n      email: newEmail,\n      message: \"This email is already subscribed.\"\n    }\n  };\n}\n\nreturn {\n  json: {\n    isDuplicate: false,\n    email: newEmail\n  }\n};"
      },
      "id": "check-duplicate",
      "name": "Check for Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 350],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"You're already subscribed! Thank you.\", \"alreadySubscribed\": true } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://unth.ai"
              }
            ]
          }
        }
      },
      "id": "duplicate-response",
      "name": "Already Subscribed Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 350],
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Newsletter Signup": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Process Subscriber Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Subscriber Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-unth-ai"
  },
  "id": "unthai-newsletter-workflow",
  "tags": [
    {
      "createdAt": "2026-01-30",
      "updatedAt": "2026-01-30",
      "id": "newsletter",
      "name": "newsletter"
    }
  ]
}
