n8n-lead-workflow-improved.json
{
  "name": "UNTH.AI Lead Capture - Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unthai-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "unthai-contact-form"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "name-check",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "email-check",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains",
                "rightValue": "@"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-data",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "lead_id",
              "name": "lead_id",
              "value": "={{ $now.format('yyyyMMdd-HHmmss') }}-{{ $json.body.email.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email.toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "interests",
              "name": "interests",
              "value": "={{ Array.isArray($json.body.interests) ? $json.body.interests.join(', ') : $json.body.interests }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body.message || 'No message provided' }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $json.body.source || 'website' }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "New",
              "type": "string"
            },
            {
              "id": "date_received",
              "name": "date_received",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "time_received",
              "name": "time_received",
              "value": "={{ $now.format('HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "process-data",
      "name": "Process & Format Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 200]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "UNTH.AI Leads"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead ID": "={{ $json.lead_id }}",
            "Date": "={{ $json.date_received }}",
            "Time": "={{ $json.time_received }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Interests": "={{ $json.interests }}",
            "Message": "={{ $json.message }}",
            "Source": "={{ $json.source }}",
            "Status": "={{ $json.status }}"
          },
          "matchingColumns": ["Email"],
          "schema": []
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "google-sheets",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [910, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you! We'll be in touch soon.\", \"leadId\": $json.lead_id } }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Invalid data. Name and email are required.\" } }}",
        "responseCode": 400,
        "options": {}
      },
      "id": "error-response",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "jsCode": "// Log error details for debugging\nconst errorInfo = {\n  timestamp: new Date().toISOString(),\n  error: $input.item.json,\n  originalData: $('Webhook - Contact Form').item.json\n};\n\nconsole.error('Workflow Error:', JSON.stringify(errorInfo, null, 2));\n\nreturn { \n  json: { \n    success: false, \n    error: 'An error occurred while processing your request.' \n  } \n};"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "responseCode": 500,
        "options": {}
      },
      "id": "error-webhook-response",
      "name": "Error Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Contact Form": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Process & Format Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Format Lead Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Google Sheets": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-unth-ai"
  },
  "id": "unthai-lead-workflow-improved",
  "tags": [
    {
      "createdAt": "2026-01-29",
      "updatedAt": "2026-01-29",
      "id": "lead-capture",
      "name": "lead-capture"
    }
  ]
}
